{%extends 'base.html'%}
{% load bootstrap4 %}
{%load static %}
{% block content %}
<style>
    header{
        background-image: url('https://images.pexels.com/photos/352598/house-dutch-sky-landscape-352598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        width: 100%;
        height: 700px;
        filter: blur(3px)
        
    }
    h1{
        
    }


</style>
<div class="container-fluid">
  <header>
     <h1>The HoodWatch</h1>
     <p>Be in the Know</p>
  </header>
  
</div>

{% endblock %}