
{%extends 'base.html'%}
{% load bootstrap4 %}
{%block content%}

      <body>
          <div class="container-fluid">
                  <div class="row">
                          {% for concern in concerns %}
                         
                          <div class="col-md-4 ">
                          <div class="card "  style="margin:2%;" data-aos='fade-up'>
                               
                          
                          <div class="card-body" style="border:2px;">
                              <a href=""><h5 class="strong-text"> <strong>{{concern.title}}</strong> </h5> </a> <hr class="bg-info">
                              <p>{{concern.description}}</p>
                              <p class="black-text pull-right">Posted on: {{concern.pub_date|date:"F d,Y"}}</p>
                              <h6>By  {{concern.profile}}</h6>
                              
                          </div>
                          
                          </div>
                          
                          </div>
                        
                          {% endfor %} 
                  </div>
                  
             
          </div>
         
      </body>
{%endblock%}      